agate==1.9.1
alembic==1.16.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
asttokens==3.0.0
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
coloredlogs==14.0
comm==0.2.2
contourpy==1.3.2
croniter==5.0.1
cycler==0.12.1
daff==1.4.2
dagster==1.10.13
dagster-dbt==0.26.13
dagster-dlt==0.26.13
dagster-graphql==1.10.13
dagster-pipes==1.10.13
dagster-shared==0.26.13
dagster-webserver==1.10.13
dbt-adapters==1.15.3
dbt-common==1.25.0
dbt-core==1.9.4
dbt-docs==0.0.1
dbt-duckdb==1.9.3
dbt-extractor==0.6.0
dbt-protos==1.0.312
dbt-semantic-interfaces==0.7.4
debugpy==1.8.14
decorator==5.2.1
deepdiff==7.0.1
dlt==1.11.0
docstring-parser==0.16
duckdb==1.2.2
et-xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.5.0
gitdb==4.0.12
gitpython==3.1.44
giturlparse==0.12.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-genai==1.16.1
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
gql==3.5.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.2
grpcio==1.71.0
grpcio-health-checking==1.71.0
grpcio-status==1.71.0
h11==0.16.0
hexbytes==1.3.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
humanfriendly==10.0
humanize==4.12.3
idna==3.10
importlib-metadata==6.11.0
ipykernel==6.29.5
ipython==9.2.0
ipython-pygments-lexers==1.1.1
isodate==0.6.1
jedi==0.19.2
jinja2==3.1.6
jsonpath-ng==1.7.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-client==8.6.3
jupyter-core==5.8.0
kiwisolver==1.4.8
leather==0.4.0
makefun==1.16.0
mako==1.3.10
markdown-it-py==3.0.0
markupsafe==3.0.2
mashumaro==3.14
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.1.0
multidict==6.4.4
narwhals==1.36.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.5
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.10.18
packaging==24.2
pandas==2.2.3
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.2.3
patsy==1.0.1
pendulum==3.1.0
pillow==11.2.1
platformdirs==4.3.8
plotly==6.0.1
plotly-express==0.4.1
pluggy==1.6.0
ply==3.11
prompt-toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
pure-eval==0.2.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pydantic==2.11.4
pydantic-core==2.33.2
pydeck==0.9.1
pygments==2.19.1
pyparsing==3.2.3
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.2
pywin32==310
pyyaml==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
requests-toolbelt==1.0.0
requirements-parser==0.13.0
rich==14.0.0
rich-argparse==1.7.0
rpds-py==0.25.1
rsa==4.9.1
scipy==1.15.3
semver==3.0.4
setuptools==80.8.0
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowplow-tracker==1.1.0
sqlalchemy==2.0.41
sqlglot==26.19.0
sqlglotrs==0.4.2
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.4
streamlit==1.44.1
structlog==25.3.0
tabulate==0.9.0
tenacity==9.1.2
text-unidecode==1.3
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
toposort==1.10
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.4
types-setuptools==79.0.0.20250422
typing-extensions==4.13.2
typing-inspection==0.4.1
tzdata==2025.2
universal-pathlib==0.2.6
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.34.2
watchdog==5.0.3
watchfiles==1.0.5
wcwidth==0.2.13
websockets==15.0.1
win-precise-time==1.4.2
yarl==1.20.0
zipp==3.21.0
